<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>

        <header>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Dealership Review</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li>
                            <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username" name="username">
                                    <input type="password" class="form-control" placeholder="Password" name="psw">
                                    <button class="btn btn-primary" type="submit">Login</button>
                                    <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                                </div>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
          </header>

    <!-- Add reviews as cards -->
    <div class="container page-title">
        <h1>{{ dealer.full_name }}</h1>
        <p>Located in {{ dealer.address }}, {{ dealer.city}}, {{ dealer.st }}.</p>
        {% if dealership_reviews|length == 0 %}
        <div class="mt-4">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Dang!</strong> There are currently no reviews on this dealer. Be the first to <a href="{% url 'djangoapp:add_review' dealer_id %}">add a review</a>.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Add reviews as cards -->
    <div class="container card-columns page-title">
        {% for review in dealership_reviews %}
        <div class="card">
            <img src="{{ MEDIA_URL }}/emoji/{{review.sentiment}}.png" alt="" class="card-img-left" height="40">
            <div class="card-body">
                <h4 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h4>
                <h5 class="card-title">{{ review.purchase_year }}</h5>
                <div class="card-text">{{ review.review }}</div>
            </div>
        </div>
        {% endfor %}
    </div>

    </body>

</html>