<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Dealership Review</title>
        {% load static %}

        <link rel="stylesheet" href='style.css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

  </head>

  <body>

    <!--Add a nav bar here -->
    <header>
      <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="#">Dealership Review</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                  <li>
                      <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                      <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                  </li>
                  {% else %}
                  <li>
                      <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                          {% csrf_token %}
                          <div class="input-group">
                              <input type="text" class="form-control" placeholder="Username" name="username">
                              <input type="password" class="form-control" placeholder="Password" name="psw">
                              <button class="btn btn-primary" type="submit">Login</button>
                              <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                          </div>
                      </form>
                  </li>
                  {% endif %}
              </ul>
          </div>
      </nav>
    </header>


    <!--Add a dealer table here -->

    <div class="hero"></div>
    <!--Add a dealer table here -->
    <div class="container">
        <div class="aboutus">
            <h2 class="aboutus-title">Dealerships</h2>
        </div>
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <table class="table" id="table" data-filter-control="true">
                    <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1" data-field="id">ID</th>
                            <th class="cell100 column1" data-field="name">Dealer Name</th>
                            <th class="cell100 column1" data-field="city">City</th>
                            <th class="cell100 column1" data-field="address">Address</th>
                            <th class="cell100 column1" data-field="zip">Zip</th>
                            <th class="cell100 column1" data-field="state" data-filter-control="select">State</th>
                        </tr>
                    </thead>
                
                    <tbody class="table100-body js-pscroll">
                        {% for dealer in dealers %}
                        <tr class="row100 body">
                            <td class="cell100 column1">{{dealer.id}}</td>
                            <td class="cell100 column1"><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                            <td class="cell100 column1">{{dealer.city}}</td>
                            <td class="cell100 column1">{{dealer.address}}</td>
                            <td class="cell100 column1">{{dealer.zip}}</td>
                            <td class="cell100 column1">{{dealer.st}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
    <hr>
     <div class="footer-dark">
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Car Sell/Purchase</a></li>
                            <li><a href="#">Rent</a></li>
                            <li><a href="#">Review</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>We are here</h3>
                        <ul>
                            <li><a href="about">About</a></li>
                            <li><a href="contact">Contact</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Best cars</h3>
                        <p>Here at Best Cars Auto we offer free scrap car removal services in Edmonton and surrounding areas. No matter the condition of your vehicle, we will pay up to $10,000 for it! Contact us today at 780-441-5357!  Cash for cars? It's real!.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Best Cars © 2021</p>
            </div>
        </footer>
    </div>

  </body>

    <script>
        $(function() {
        $('#table').bootstrapTable()
        })
    </script>

</html>
